html(lang='eng')
head
	meta(charset="utf-8")
body
	.something
		p 
			|here is some text
			|and here's somemore
	#somethingelse
		p.
			here is some more text
	.something.butdifferent
		script(src="javascript.js")
	footer
